node_modules
dist
releases
out
.idea/
test-files/
database/liberty-database.sqlite
./data

.DS_Store
*.log
*.log*

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
