@font-face {
  font-family: 'RedHat';
  src: url('./fonts/RedHatDisplay-Regular.ttf');
}

@font-face {
  font-family: 'RedHat';
  font-weight: bold;
  src: url('./fonts/RedHatDisplay-Bold.ttf');
}

@font-face {
  font-family: 'RedHat';
  font-style: italic;
  src: url('./fonts/RedHatDisplay-Italic.ttf');
}

@font-face {
  font-family: 'RedHat';
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/RedHatDisplay-BoldItalic.ttf');
}


@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  src: url('./fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  src: url('./fonts/Montserrat-Italic.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/Montserrat-BoldItalic.ttf');
}

/* Reading fonts */
@font-face {
  font-family: 'Literata';
  src: url('./fonts/reading/Literata_18pt-Regular.ttf');
}

@font-face {
  font-family: 'Literata';
  font-weight: bold;
  src: url('./fonts/reading/Literata_18pt-Bold.ttf');
}

@font-face {
  font-family: 'Literata';
  font-style: italic;
  src: url('./fonts/reading/Literata_18pt-Italic.ttf');
}

@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/reading/Literata_18pt-BoldItalic.ttf');
}